:root {
    --bg: #E7E7E7;
    --text: #1D1B0C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    font-style:unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
    min-width: 740px;
    height: 100vh;
}

.bottom {
    background-color: var(--text);
    color:var(--bg);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: grid;
    justify-content: left;
    align-items: left;
}